{
    "extends": "airbnb-base",
    "env": {
        "mocha": true
    },
    "rules": {
        "indent": [ "error", 4 ],
        "import/no-extraneous-dependencies": false,
        "prefer-promise-reject-errors": 0,
        "max-len": "off",
        "camelcase": "off"
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["#server", "./server"],
                    ["#db", "./db"],
                    ["#test", "./test"],
                    ["#fixtures", "./test/fixtures"]
                ],
                "extensions": [".js"]
            }
        }
    },
    "overrides": [
        {
            "files": "test/**/*.spec.js",
            "rules": {
                "no-unused-expressions": "off"
            }
        },
        {
            "files": "test/**/*.js",
            "globals": {
                "sinon": true,
                "sandbox": true,
                "expect": true,
                "prepare": true,
                "build": true,
                "execute": true,
                "collect": true,
                "returnedValue": true,
                "fakeDb": true,
                "fakeModels": true,
                "req": true,
                "res": true,
                "next": true,
                "sentData": true
            }
        }
    ]
}