module.exports = {
    username: 'postgres',
    password: 'resorption_bidonvilles',
    database: 'resorption_bidonvilles',
    host: 'database',
    port: 5432,
    dialect: 'postgres',
    operatorsAliases: false,
};
